# Archivos compilados
*.class

# Archivos empaquetados
*.war
*.ear

# Carpetas generadas por NetBeans
/build/
/dist/
/nbproject/private/
*.LCK*
*~


# Configuración del IDE
*.iml
.idea/
.vscode/

# Mantener los JAR importantes (no ignorar WEB-INF/lib)
