

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(249, 248, 255, 0.363);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
    height: 95px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    background-color: #e92fe9;
    border: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

header nav ul li a:hover {
    background-color: hsl(0, 100%, 64%);
}

.inicio {
    width: 400px;
    background: #637df0bd;
    padding: 30px 80px 30px 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Sour Gummy', sans-serif;
    color: white;
    box-shadow: 0 4px 8px rgba(225, 0, 255, 0.658);
}

h4 {
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'Sour Gummy', sans-serif;
}

.controls, .dc {
    width: 100%;
    background: hsl(210, 33%, 99%);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid hsl(0, 0%, 0%);
    font-size: 18px;
}

.dc {
    color: rgb(133, 127, 127);
}

a {
    color: white;
    text-decoration: underline;
}

.botones {
    width: 100%;
    background: #e92fe9;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Sour Gummy', sans-serif;
}

.botones:hover {
    background-color: hsl(0, 100%, 64%);
}

